
/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
body {
 
  font-size: 1.4rem;            /* 14px par défaut */
  /*font-family: 'Noto sans', sans-serif;*/
}

a, a:hover, a:visited{                /* ATTENTION LES LIENS SONT BLANC DANS CE MODELE*/
  text-decoration: none;
  color: #23263B;
}
img{
  max-width:100%;
  height: auto;
  vertical-align: middle; 
}



