#contact {
    background-color: #F5F5FA;
}

.contact {
    height: 75vh;
    min-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 128px;
    position: relative;
    width: fit-content;
    margin: 64px auto 0;

    @media only screen and (max-width: 1100px) {
        padding: 0 0;
        margin: 0 auto 0;
    }
    @media only screen and (max-width: 860px) {
        flex-direction: column;
        width: auto;
        height: auto;
        overflow-x: hidden;
    }

    &__img {
        position: relative;
        width: 400px;
        height: 432px;
        border-radius: 0 0 50% 50%;
        overflow: hidden;
        margin-bottom: 90px;
        transform: scale(-1, 1);

        @media only screen and (max-width: 860px) {
            margin-bottom: 0;
        }
        @media only screen and (max-width: 500px) {
            width: 286px;
            height: 309px;
        }

        img {
            position: absolute;
            bottom: 0;
            right: 0;
        }
    }
    
    &-description {
        font-size: 2.8rem;
        letter-spacing: -1px;

        @media only screen and (max-width: 1100px) {
            margin-top: 32px;
            margin-bottom: 64px;
        }
        @media only screen and (max-width: 500px) {
            font-size: 2rem;
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__title {
            text-align: center;
            line-height: 1.1;
            font-weight: bold;
            margin-bottom: 8px;
        }

        &__text {
            width: 416px;
            font-size: 1.8rem;
            text-align: center;
            line-height: 1.2;
            letter-spacing: 0;

            @media only screen and (max-width: 500px) {
                font-size: 1.4rem;
            }

            &--mail {
                margin-top: 32px;
                margin-bottom: 16px;
            }

            &--link {
                text-align: left;
                padding-left: 32px;
                display: block;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;

                @media only screen and (max-width: 500px) {
                    padding-left: 0;
                    transform: none;
                    text-align: center;
                }

                img {
                    width: 80px;

                    @media only screen and (max-width: 500px) {
                        width: 45px;
                    }
                }
                
                &:hover {
                    color: #23263B;
                    font-weight: bold;
                    -webkit-transform: scale(1.1);
                    transform: scale(1.1);
                    -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                    transition-timing-function:  cubic-bezier(0.47, 2.02, 0.31, -0.36);
                    border-radius: 12px;
                }
            }
        }

        .bold {
            font-size: 3rem;
        }
    }

    &__phone {
        position: absolute;
        bottom: -78px;
        right: -150px;
        transform: scale(-1, 1);
        width: 380px;

        @media only screen and (max-width: 1400px) {
            width: 300px;
            right: 0px;
        }
        @media only screen and (max-width: 1200px) {
            width: 250px;
            right: 100px;
        }
        @media only screen and (max-width: 1100px) {
            width: 190px;
            right: 25%;
        }
        @media only screen and (max-width: 860px) {
            display: none;
        }
    }
}