.projects {
    height: 1100px;
    position: relative;
    padding-bottom: 80px;

    &--more {
        animation: top 2.5s forwards;
    }

    &__title {
        font-size: 3.6rem;
        font-weight: 700;
        color: #23263B;
        text-align: center;
        margin-bottom: 60px; 
    }
    
    &__list {
        display: flex;
        flex-direction: column;
        gap: 80px;
        max-width: 1264px;
        padding: 0 32px;
        margin: 0 auto;

        .project {
            display: flex;
            align-items: center;
            gap: 32px;
            color: #23263B;

            @media only screen and (max-width: 800px) {
                display: flex;
                flex-direction: column !important;
            }  

            &:hover .project__img {
                -webkit-transform: scale(1.05);
                transform: scale(1.05);
                -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
                border-radius: 12px;
            }

            &--callteaser {
                position: relative;

                .project__illustration {
                    position: absolute;
                    top: -277px;    
                    left: -33px;
                    width: 450px;

                    img {
                        position: absolute;
                        top: 0;
                        left: 0;

                        @media only screen and (max-width: 1200px) {
                            display: none;
                        }
                    }
                }   

                .project__img{
                    background: -webkit-linear-gradient(298deg, #ff7170 0%, #64acff 100%);
                }
            }
            &--teandancebienetre {
                flex-direction: row-reverse;
                
                .project__img{
                    background: -webkit-linear-gradient(50deg, #ff7170 0%, #ffe57f 100%);
                }
                .project__title{
                    text-align: right;
                }
            }
            &--voilovent {
                flex-direction: column;

                .project__img{
                    background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
                }
                .project__desc{
                    max-width: 1024px;
                }
                .project__title{
                    text-align: center;
                    margin-bottom: 20px;
                }
            }
            &--matchyourmate {
                .project__img{
                    background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
                }
            }
            &--roulemapoule {
                flex-direction: row-reverse;

                .project__img{
                    background: -webkit-linear-gradient(224deg, #db469f 0%, #2188ff 100%);
                }
                .project__title{
                    text-align: right;
                }
            }
            &--portfolio {

                .project__img{
                    background: -webkit-linear-gradient(298deg, #ff7170 0%, #64acff 100%);
                }
            }

            &__img {
                max-height: 300px;
                padding: 30px;
                border-radius: 8px;
                vertical-align: middle;
                -webkit-transform: perspective(1px) translateZ(0);
                transform: perspective(1px) translateZ(0);
                box-shadow: 0 0 1px rgba(0, 0, 0, 0);
                -webkit-transition-duration: 0.5s;
                transition-duration: 0.5s;
                z-index: -1;

                @media only screen and (max-width: 1000px) {
                    max-height: 220px;
                }
            }

            &__desc {
                line-height: 1.4;
                font-size: 1.5rem;
            }

            &__title {
                margin-bottom: 40px;
                font-size: 2.8rem;
                font-weight: 700;
            
                @media only screen and (max-width: 500px) {
                    font-size: 2.2rem;
                } 
            }

            &__text {
                text-align: justify;
                margin-bottom: 8px;

                a {
                    color: #23263B;
                    text-decoration: underline;
                }
            }

            &__link {
                display: block;
                text-align: center;
                margin-top: 12px;
                font-size: 1.8rem;
                font-weight: bold;

                span:nth-child(1) {
                    margin-right: 0;
                    transition-duration: 0.5s;
                }
                span:nth-child(2) {
                    margin-left: 0;
                    transition-duration: 0.5s;
                }

                &:hover span:nth-child(1) {
                    margin-right: 6px;
                }

                &:hover span:nth-child(2) {
                    margin-left: 6px;
                }
            }
        }
    }

    .curve {
        transform: rotate(180deg);
        position: absolute;
        bottom: -1px;
        left: 0;
    }
}