.skills {
    //background-image: radial-gradient( circle at 50% 0, $grey, $black );
    background-color: #23263B ;
    position: relative;
    padding-bottom: 100px;

    @media only screen and (max-width: 800px) {
        padding-bottom: 0;
    }
    @media only screen and (max-width: 400px) {
        overflow-x: hidden;
    } 

    &__title {
        font-size: 3.6rem;
        font-weight: 700;
        color: white;
        text-align: center;
        padding-top: 150px;
        padding-bottom: 24px;
        z-index: 1;

        @media only screen and (max-width: 1650px) {
            padding-top: 120px;
        }
        @media only screen and (max-width: 500px) {
            font-size: 3rem;
        }
    }

    .ides {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 32px;
        max-width: 1560px;
        margin: 32px auto;

        @media only screen and (max-width: 1650px) {
            gap: 0;
            margin: 0 auto;
        }
        @media only screen and (max-width: 1540px) {
            flex-direction: column;
            gap: 120px;
            margin-top: 59px;
        }
        @media only screen and (max-width: 1200px) {
            gap: 64px;
        }
        @media only screen and (max-width: 800px) {
            gap: 0;
            margin-top: 0;
        }
        @media only screen and (max-width: 750px) {
            
        }

        &__illustration {
            position: absolute;
            @media only screen and (max-width: 1200px) {
                display: none;
            }

            &--1 {
                top: -372px;
                left: -18px;

                @media only screen and (max-width: 1650px) {
                    top: -302px;
                    left: 42px;
                }
                @media only screen and (max-width: 1540px) {
                    transform: scale(0.9);
                    top: -324px;
                    left: 12%;
                }
                @media only screen and (max-width: 1380px) {
                    transform: scale(0.9);
                    top: -324px;
                    left: 8%;
                }
    
                img {
                    width: 560px;

                    @media only screen and (max-width: 1650px) {
                        width: 500px;
                    }
                }
            }

            &--2 {
                top: -230px;
                right: 30px;
                transform: rotate(356deg);
                z-index: 1;

                @media only screen and (max-width: 1650px) {
                    top: -170px;
                    right: 90px;
                }
                @media only screen and (max-width: 1540px) {
                    transform: scale(0.9) rotate(356deg);
                    top: 498px;
                    right: 12%;
                }
                @media only screen and (max-width: 1380px) {
                    transform: scale(0.9);
                    top: 498px;
                    right: 8%;
                }

                img {
                    width: 460px;

                    @media only screen and (max-width: 1650px) {
                        width: 400px;
                    }
                }
            }
            
            img {
                position: absolute;
                top: 0;
                left: 0;

                &:first-child {
                    position: static;
                }
            }

        }
    }

    .ide {
        display: flex;
        height: 575px;
        border-radius: 8px;
        overflow: hidden;
        font-family: 'JetBrainsMono';
        color: white;
        position: relative;

        @media only screen and (max-width: 1650px) {
            &--back {
                transform: scale(0.9) translateX(20px);
            }
            &--front {
                transform: scale(0.9) translateX(-20px);
            }
        }
        @media only screen and (max-width: 1540px) {
            width:  764px;

            &--back {
                transform: none;
            }
            &--front {
                transform: none;
            }
        }
        @media only screen and (max-width: 800px) {
            margin: 0 auto;

            &--back {
                transform: scale(0.85);
            }
            &--front {
                transform: scale(0.85);
            }
        }
        @media only screen and (max-width: 750px) {
            flex-direction: column;
            height: 100%;
            width: 590px;
        }
        @media only screen and (max-width: 600px) {
            transform: scale(0.7) translateX(-60px) translateY(-100px);
            
            &--front {
                transform: scale(0.7) translateX(-60px) translateY(-300px);
            }
        }
        @media only screen and (max-width: 500px) {
            transform: scale(0.6) translateX(-150px) translateY(-60px);
            
            &--front {
                transform: scale(0.6) translateX(-150px) translateY(-380px);
            }
        }
        @media only screen and (max-width: 426px) {
            transform: scale(0.6) translateX(-170px) translateY(-60px);
        
            &--front {
                transform: scale(0.6) translateX(-170px) translateY(-400px);
            }
        }
        @media only screen and (max-width: 400px) {
            transform: scale(0.6) translateX(-190px) translateY(-60px);
        
            &--front {
                transform: scale(0.6) translateX(-190px) translateY(-400px);
            }
        } 

        &-column {
            min-width: 175px;
            height: 100%;
            background: linear-gradient(189.71deg, rgb(72, 76, 122) 0%, rgb(54, 57, 92) 98.77%);
            box-shadow: rgb(0 0 0 / 20%) -4px 0px 10px inset;

            &__name {
                display: flex;
                align-items: center;
                gap: 8px;
                padding: 16px 0 16px 24px;
                border-bottom: 1px solid rgba(255, 255, 255, 0.2);
            }

            &__icon {
                width: 22px;
            } 

            &__title {
                font-weight: 600;
                font-size: 1.4rem;
                margin-top: 2px;
            }

            .languages {
                padding: 0 32px;
                border-top: 1px solid rgba(0, 0, 0, 0.2);

                @media only screen and (max-width: 750px) {
                    display: flex;
                    align-items: center;
                    padding: 16px 32px;
                    gap: 32px;
                }
        

                .language {
                    display: flex;
                    align-items: center;
                    margin-top: 24px;

                    @media only screen and (max-width: 750px) {
                        margin-top: 0;
                    }

                    &__img {
                        margin-right: 8px;
                        max-width: 18px;
                    }

                    &__name {
                        color: #9698c3;

                        &--active {
                            color: white;
                        }
                    }
                }
            }
        }

        .code {
            width: 100%;
            min-width: 500px;
            height: 100%;
            background-image: linear-gradient(200deg, #5A5E9A, #36395c);
            padding-top: 32px;
            padding-right: 16px;

            @media only screen and (max-width: 750px) {
                padding-bottom: 32px;
            }

            &__red {
                color: #d46c60;
            }
            &__orange {
                color: #d18c4c;
            }
            &__green {
                color: #98c379;
            }
            &__gray {
                color: #abb2bf;
            }
            &__pink {
                color: #c65f91;
            }
            &__blue {
                color: #43a3ef;
            }

            &__row {
                display: block;

                &--tab1 .code__row-number {
                   margin-right: 32px;
                }
                &--tab2 .code__row-number {
                    margin-right: 48px;
                }
                &--tab3 .code__row-number {
                    margin-right: 64px;
                }
                &--br .code__row-number {
                    color: transparent;
                }

                &-number {
                    margin: 0;
                    display: inline-block;
                    min-width: 2.25em;
                    padding-right: 16px;
                    text-align: right;
                    user-select: none;
                    color: #fff;
                    border-right: solid 1px;
                    border-color: rgb(255,255,255, 0.2);
                    margin-right: 16px;
                    width: 60px;
                    height: 22px;
                    line-height: 22px;
                }
            }
        }
    }
}