.tp {
    background: linear-gradient( to right, #23263B 50%, #F5F5FA 50% );
    font-family: Poppins,Arial,sans-serif;
    padding-left: 48px;
    padding-right: 48px;
    position: relative;

    @media only screen and (max-width: 1100px) {
        background: linear-gradient( to bottom, #23263B 50%, #F5F5FA 50% );
    }
    @media only screen and (max-width: 600px) {
        margin-top: -250px;
        padding-left: 24px;
        padding-right: 24px;
    }

    &__container {
        text-align: center;
        max-width: 1440px;
        position: relative;
        display: grid;
        grid-template-columns: repeat(2,1fr);
        margin: 0 auto;

        @media only screen and (max-width: 1100px) {
            grid-template-columns: repeat(1,1fr);
            grid-template-rows: repeat(2,1fr);
        }

        .road{
            position: absolute;
            top: -75px;
            left: 37%;
            width: 400px;

            @media only screen and (max-width: 1100px) {
                display: none;
            }
        }
    }

    &-section {
        position: relative;
        padding-bottom: 48px;
        padding-top: 80px;

        &__img {
            position: absolute;
            top: 0;
            transform: translateY(200%);

            @media only screen and (max-width: 1250px) {
                transform: translateY(200%) scale(0.8);
            }
            @media only screen and (max-width: 1100px) {
                display: none;
            }
        }

        &--theory {
            color: white;

            @media only screen and (max-width: 1100px) {
                padding-bottom: 0;
            }
            
            .tp-section__content {
                grid-column-start: 1;
                grid-column-end: 3;
            }

            .tp-section__img {
                right: 1px;
                box-shadow: 0 2px 4px rgb(0 0 0 / 45%), 0 7px 13px -3px rgb(45 35 66 / 45%);
                border-radius: 8px 0 0 8px;
                padding-right: 6px;

                @media only screen and (max-width: 1250px) {
                    right: -18px;
                }
            }
        }

        &--practice {
            color: #36395a;

            .tp-section__content {
                grid-column-start: 2;
                grid-column-end: 4;
            }

            .tp-section__img {
                left: 0;
                box-shadow: 0 2px 4px rgb(45 35 66 / 45%), 0 7px 13px -3px rgb(45 35 66 / 45%);
                border-radius: 0 8px 8px 0;

                @media only screen and (max-width: 1250px) {
                    left: -18px;
                }
            }
        }
        

        &__title {
            text-align: center;
            margin-bottom: 32px;
            font-size: 3.6rem;
            font-weight: 700;

            @media only screen and (max-width: 500px) {
                font-size: 3rem;
            }
        }

        & > div {
            text-align: left;
            height: 100%;
            position: relative;
            display: grid;
            grid-template-columns: repeat(3,1fr);

            @media only screen and (max-width: 1100px) {
                display: block;
                max-width: 500px;
                margin: 0 auto;
            }
        }

        &__content {
            display: inline-flex;
            flex-direction: column;
            align-self: center;
            
            .experience {
                margin-bottom: 48px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                gap: 4px;

                &__title {
                    font-size: 2.8rem;
                    font-weight: 700;
                    line-height: 1.33;

                    @media only screen and (max-width: 1100px) {
                        font-size: 2.4rem;
                    }
                }

                &__subtitle {
                    font-size: 1.8rem;
                    font-weight: 700;
                }

                &__duration {
                    font-weight: 700;
                    margin-bottom: 4px;
                }

                &__desc {
                    line-height: 1.33;
                }
            }
        }
    }
}