@import 'mixins';
@import 'color';
@import 'reset';
@import 'base';

@import 'projects';
@import 'skills';
@import 'theoriePratique';
@import 'contact';

@font-face {
    font-family: "Poppins";
    src: url("../fonts/Poppins-Regular.ttf") format("truetype"),
}

@font-face {
    font-family: "JetBrainsMono";
    src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype"),
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #F5F5FA;

    h1 {
        font-weight: 500;
    }

    .break {
        display: block;
    }

    .header {
        display: flex;
        justify-content: space-between;
        padding: 32px 64px;
        font-size: 1.6rem;
        max-width: 1500px;
        margin: 0 auto;

        @media only screen and (max-width: 600px) {
            padding: 32px 32px;
        } 

        &__title {
            font-weight: bold;
            font-size: 2rem;
        }

        .mobile-menu {
            display: none;

            @media only screen and (max-width: 1000px) {
                display: flex;
                flex-direction: column;
                gap: 5px;
                z-index: 10;
                position: absolute;
                top: 35px;
                right: 64px;

                &:hover {
                    cursor: pointer;
                }
            }

            @media only screen and (max-width: 600px) {
                right: 32px;
            } 

            span {
                display: block;
                height: 2px;
                width: 22px;
                background-color: #23263B;
                transition: all 0.3s ease-in-out;
            }
        }

        #menu:checked ~ .nav {
            right: 0;
        }

        #menu:checked ~ .mobile-menu {
            position: fixed;

            span:nth-child(1) {
                transform: translateY(4px) rotate(45deg);
            }
            span:nth-child(2) {
                display: none;
            }
            span:nth-child(3) {
                transform: translateY(-3px) rotate(-45deg);
            }
        }

        .nav {
            display: flex;
            gap: 64px;

            @media only screen and (max-width: 1200px) {
                font-size: 1.4rem;
                gap: 32px;
            }
            @media only screen and (max-width: 1000px) {
                font-size: 1.6rem;
                position: fixed;
                top: 0;
                right: -200vw;
                height: 100vh;
                width: 80vw;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                gap: 10vh;
                background-color: #F5F5FA;
                box-shadow: -200px 0px 50px 50px rgb(0 0 0 / 40%);
                z-index: 8;
                transition: all 0.5s ease-in-out;
            }

            &__link {

                &:hover {
                    font-weight: bold; 
                }
            }
        }
    }

    .hero {
        height: 92vh;
        min-height: 700px;
        display: flex;
        flex-direction: row-reverse;
        align-items: center;
        justify-content: center;
        padding-left: 32px;
        padding-bottom: 6%;

        @media only screen and (max-width: 800px) {
            flex-direction: column;
            padding-left: 0;
        }

        &__img {
            position: relative;
            width: 400px;
            height: 400px;
            border-radius: 50%;
            overflow: hidden;
            margin-bottom: 90px;

            @media only screen and (max-width: 1200px) {
                width: 300px;
                height: 300px;
            }
            @media only screen and (max-width: 800px) {
                margin-bottom: 24px;
            }

            img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
        
        &-description {
            font-size: 2.4rem;
            letter-spacing: -1px;
            z-index: 2;

            @media only screen and (max-width: 500px) {
                font-size: 1.8rem;
            }

            &__title {
                text-align: center;
                line-height: 1.1;
            }

            &__text {
                margin-top: 32px;
                width: 416px;
                font-size: 1.6rem;
                text-align: center;
                line-height: 1.2;
                letter-spacing: 0;

                @media only screen and (max-width: 500px) {
                    width: 340px;
                    font-size: 1.4rem;
                }
            }

            .bold {
                font-size: 3rem;

                @media only screen and (max-width: 500px) {
                    font-size: 2.4rem;
                }
            }
        }
    }

    .bold {
        font-weight: 700;
    }
}



.pointer {
    cursor: pointer;
}


// --- Arrows --- \\
$size: 60px;
$speed: 3s;
$peakopacity: 0.7;

.arrows {
    position: relative;
    position: absolute;
    bottom:0;
    left:50%;
    width:$size;
    height:$size;
    transform:translate(-50%,-50%);
    &:before {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,255,255,$peakopacity);
      border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
      transform:translate($size/3,$size*4/3)rotate(-45deg);
      animation: arrows $speed linear infinite;
    }
    &:after {
      content: '';
      position: absolute;
      width:100%;
      height:100%;
      border-left:$size/3 solid rgba(255,255,255,$peakopacity);
      border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
      transform:translate($size*2/3,0px)rotate(-45deg) ;
      animation: arrows $speed linear infinite $speed/-2;
    }
}

@keyframes arrows {
    0% {
        border-left:$size/3 solid rgba(255,255,255,0);
        border-bottom:$size/3 solid rgba(255,255,255,0);
        transform:translate($size/-6,$size*4/-6)rotate(-45deg) ;
    }
    10%, 90% {
        border-left:$size/3 solid rgba(255,255,255,0);
        border-bottom:$size/3 solid rgba(255,255,255,0);
    }
    50% {
        border-left:$size/3 solid rgba(255,255,255,$peakopacity);
        border-bottom:$size/3 solid rgba(255,255,255,$peakopacity);
        transform:translate($size/-6,0px)rotate(-45deg) ;
    }
    100% {
        border-left:$size/3 solid rgba(255,255,255,0);
        border-bottom:$size/3 solid rgba(255,255,255,0);
        transform:translate($size/-6,$size*4/6)rotate(-45deg) ;
    }
}


.lamp {
    position: absolute;
    top: -1px;
    left: 24vw;
    width: 416px;
    z-index: -1;

    @media only screen and (max-width: 800px) {
        z-index: 0;
        width: 316px;
        margin-left: 24px;
        left: calc(50vw - 185px) !important;
    }

    img {
        position: absolute;
        top: 0;
        left: 0;

        &:first-child {
            animation: blinking 3.5s forwards;
        }
    }
}



.footer {
    display: flex;
    justify-content: space-between;
    padding: 32px 64px;
    font-size: 1.4rem;
    position: relative;
    max-width: 1500px;
    margin: 0 auto;

    @media only screen and (max-width: 650px) {
        flex-direction: column;
        gap: 18px;
        align-items: center;
    }
    @media only screen and (max-width: 400px) {
        padding: 32px 24px;
        font-size: 1.2rem;
    }


    a {
        color: #23263B;

        &:hover {
            font-weight: bold;
        }
    }
}


@keyframes blinking {
    0% {
        opacity: 0;
    }
    20% {
        opacity: 0;
    }

    25% {
        opacity: 1;
    }
    45% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
    52% {
        opacity: 0;
    }

    56% {
        opacity: 1;
    }
    58% {
        opacity: 1;
    }

    62% {
        opacity: 0;
    }
    65% {
        opacity: 0;
    }

    67% {
        opacity: 1;
    }
    70% {
        opacity: 1;
    }

    72% {
        opacity: 0;
    }
    78% {
        opacity: 0;
    }
    
    100% {
        opacity: 1;
    }
}