@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Regles generales */
*, *:after, *:before {
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.4rem;
  /* 14px par défaut */
  /*font-family: 'Noto sans', sans-serif;*/
}

a, a:hover, a:visited {
  /* ATTENTION LES LIENS SONT BLANC DANS CE MODELE*/
  text-decoration: none;
  color: #23263B;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.projects {
  height: 1100px;
  position: relative;
  padding-bottom: 80px;
}
.projects--more {
  animation: top 2.5s forwards;
}
.projects__title {
  font-size: 3.6rem;
  font-weight: 700;
  color: #23263B;
  text-align: center;
  margin-bottom: 60px;
}
.projects__list {
  display: flex;
  flex-direction: column;
  gap: 80px;
  max-width: 1264px;
  padding: 0 32px;
  margin: 0 auto;
}
.projects__list .project {
  display: flex;
  align-items: center;
  gap: 32px;
  color: #23263B;
}
@media only screen and (max-width: 800px) {
  .projects__list .project {
    display: flex;
    flex-direction: column !important;
  }
}
.projects__list .project:hover .project__img {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  border-radius: 12px;
}
.projects__list .project--callteaser {
  position: relative;
}
.projects__list .project--callteaser .project__illustration {
  position: absolute;
  top: -277px;
  left: -33px;
  width: 450px;
}
.projects__list .project--callteaser .project__illustration img {
  position: absolute;
  top: 0;
  left: 0;
}
@media only screen and (max-width: 1200px) {
  .projects__list .project--callteaser .project__illustration img {
    display: none;
  }
}
.projects__list .project--callteaser .project__img {
  background: -webkit-linear-gradient(298deg, #ff7170 0%, #64acff 100%);
}
.projects__list .project--teandancebienetre {
  flex-direction: row-reverse;
}
.projects__list .project--teandancebienetre .project__img {
  background: -webkit-linear-gradient(50deg, #ff7170 0%, #ffe57f 100%);
}
.projects__list .project--teandancebienetre .project__title {
  text-align: right;
}
.projects__list .project--voilovent {
  flex-direction: column;
}
.projects__list .project--voilovent .project__img {
  background: -webkit-linear-gradient(300deg, #93f5ec 20%, #a77bf3 70%);
}
.projects__list .project--voilovent .project__desc {
  max-width: 1024px;
}
.projects__list .project--voilovent .project__title {
  text-align: center;
  margin-bottom: 20px;
}
.projects__list .project--matchyourmate .project__img {
  background: -webkit-linear-gradient(-70deg, #9867f0 0%, #ed4e50 100%);
}
.projects__list .project--roulemapoule {
  flex-direction: row-reverse;
}
.projects__list .project--roulemapoule .project__img {
  background: -webkit-linear-gradient(224deg, #db469f 0%, #2188ff 100%);
}
.projects__list .project--roulemapoule .project__title {
  text-align: right;
}
.projects__list .project--portfolio .project__img {
  background: -webkit-linear-gradient(298deg, #ff7170 0%, #64acff 100%);
}
.projects__list .project__img {
  max-height: 300px;
  padding: 30px;
  border-radius: 8px;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  z-index: -1;
}
@media only screen and (max-width: 1000px) {
  .projects__list .project__img {
    max-height: 220px;
  }
}
.projects__list .project__desc {
  line-height: 1.4;
  font-size: 1.5rem;
}
.projects__list .project__title {
  margin-bottom: 40px;
  font-size: 2.8rem;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .projects__list .project__title {
    font-size: 2.2rem;
  }
}
.projects__list .project__text {
  text-align: justify;
  margin-bottom: 8px;
}
.projects__list .project__text a {
  color: #23263B;
  text-decoration: underline;
}
.projects__list .project__link {
  display: block;
  text-align: center;
  margin-top: 12px;
  font-size: 1.8rem;
  font-weight: bold;
}
.projects__list .project__link span:nth-child(1) {
  margin-right: 0;
  transition-duration: 0.5s;
}
.projects__list .project__link span:nth-child(2) {
  margin-left: 0;
  transition-duration: 0.5s;
}
.projects__list .project__link:hover span:nth-child(1) {
  margin-right: 6px;
}
.projects__list .project__link:hover span:nth-child(2) {
  margin-left: 6px;
}
.projects .curve {
  transform: rotate(180deg);
  position: absolute;
  bottom: -1px;
  left: 0;
}

.skills {
  background-color: #23263B;
  position: relative;
  padding-bottom: 100px;
}
@media only screen and (max-width: 800px) {
  .skills {
    padding-bottom: 0;
  }
}
@media only screen and (max-width: 400px) {
  .skills {
    overflow-x: hidden;
  }
}
.skills__title {
  font-size: 3.6rem;
  font-weight: 700;
  color: white;
  text-align: center;
  padding-top: 150px;
  padding-bottom: 24px;
  z-index: 1;
}
@media only screen and (max-width: 1650px) {
  .skills__title {
    padding-top: 120px;
  }
}
@media only screen and (max-width: 500px) {
  .skills__title {
    font-size: 3rem;
  }
}
.skills .ides {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 32px;
  max-width: 1560px;
  margin: 32px auto;
}
@media only screen and (max-width: 1650px) {
  .skills .ides {
    gap: 0;
    margin: 0 auto;
  }
}
@media only screen and (max-width: 1540px) {
  .skills .ides {
    flex-direction: column;
    gap: 120px;
    margin-top: 59px;
  }
}
@media only screen and (max-width: 1200px) {
  .skills .ides {
    gap: 64px;
  }
}
@media only screen and (max-width: 800px) {
  .skills .ides {
    gap: 0;
    margin-top: 0;
  }
}
.skills .ides__illustration {
  position: absolute;
}
@media only screen and (max-width: 1200px) {
  .skills .ides__illustration {
    display: none;
  }
}
.skills .ides__illustration--1 {
  top: -372px;
  left: -18px;
}
@media only screen and (max-width: 1650px) {
  .skills .ides__illustration--1 {
    top: -302px;
    left: 42px;
  }
}
@media only screen and (max-width: 1540px) {
  .skills .ides__illustration--1 {
    transform: scale(0.9);
    top: -324px;
    left: 12%;
  }
}
@media only screen and (max-width: 1380px) {
  .skills .ides__illustration--1 {
    transform: scale(0.9);
    top: -324px;
    left: 8%;
  }
}
.skills .ides__illustration--1 img {
  width: 560px;
}
@media only screen and (max-width: 1650px) {
  .skills .ides__illustration--1 img {
    width: 500px;
  }
}
.skills .ides__illustration--2 {
  top: -230px;
  right: 30px;
  transform: rotate(356deg);
  z-index: 1;
}
@media only screen and (max-width: 1650px) {
  .skills .ides__illustration--2 {
    top: -170px;
    right: 90px;
  }
}
@media only screen and (max-width: 1540px) {
  .skills .ides__illustration--2 {
    transform: scale(0.9) rotate(356deg);
    top: 498px;
    right: 12%;
  }
}
@media only screen and (max-width: 1380px) {
  .skills .ides__illustration--2 {
    transform: scale(0.9);
    top: 498px;
    right: 8%;
  }
}
.skills .ides__illustration--2 img {
  width: 460px;
}
@media only screen and (max-width: 1650px) {
  .skills .ides__illustration--2 img {
    width: 400px;
  }
}
.skills .ides__illustration img {
  position: absolute;
  top: 0;
  left: 0;
}
.skills .ides__illustration img:first-child {
  position: static;
}
.skills .ide {
  display: flex;
  height: 575px;
  border-radius: 8px;
  overflow: hidden;
  font-family: "JetBrainsMono";
  color: white;
  position: relative;
}
@media only screen and (max-width: 1650px) {
  .skills .ide--back {
    transform: scale(0.9) translateX(20px);
  }
  .skills .ide--front {
    transform: scale(0.9) translateX(-20px);
  }
}
@media only screen and (max-width: 1540px) {
  .skills .ide {
    width: 764px;
  }
  .skills .ide--back {
    transform: none;
  }
  .skills .ide--front {
    transform: none;
  }
}
@media only screen and (max-width: 800px) {
  .skills .ide {
    margin: 0 auto;
  }
  .skills .ide--back {
    transform: scale(0.85);
  }
  .skills .ide--front {
    transform: scale(0.85);
  }
}
@media only screen and (max-width: 750px) {
  .skills .ide {
    flex-direction: column;
    height: 100%;
    width: 590px;
  }
}
@media only screen and (max-width: 600px) {
  .skills .ide {
    transform: scale(0.7) translateX(-60px) translateY(-100px);
  }
  .skills .ide--front {
    transform: scale(0.7) translateX(-60px) translateY(-300px);
  }
}
@media only screen and (max-width: 500px) {
  .skills .ide {
    transform: scale(0.6) translateX(-150px) translateY(-60px);
  }
  .skills .ide--front {
    transform: scale(0.6) translateX(-150px) translateY(-380px);
  }
}
@media only screen and (max-width: 426px) {
  .skills .ide {
    transform: scale(0.6) translateX(-170px) translateY(-60px);
  }
  .skills .ide--front {
    transform: scale(0.6) translateX(-170px) translateY(-400px);
  }
}
@media only screen and (max-width: 400px) {
  .skills .ide {
    transform: scale(0.6) translateX(-190px) translateY(-60px);
  }
  .skills .ide--front {
    transform: scale(0.6) translateX(-190px) translateY(-400px);
  }
}
.skills .ide-column {
  min-width: 175px;
  height: 100%;
  background: linear-gradient(189.71deg, #484c7a 0%, #36395c 98.77%);
  box-shadow: rgba(0, 0, 0, 0.2) -4px 0px 10px inset;
}
.skills .ide-column__name {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 16px 0 16px 24px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.skills .ide-column__icon {
  width: 22px;
}
.skills .ide-column__title {
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 2px;
}
.skills .ide-column .languages {
  padding: 0 32px;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 750px) {
  .skills .ide-column .languages {
    display: flex;
    align-items: center;
    padding: 16px 32px;
    gap: 32px;
  }
}
.skills .ide-column .languages .language {
  display: flex;
  align-items: center;
  margin-top: 24px;
}
@media only screen and (max-width: 750px) {
  .skills .ide-column .languages .language {
    margin-top: 0;
  }
}
.skills .ide-column .languages .language__img {
  margin-right: 8px;
  max-width: 18px;
}
.skills .ide-column .languages .language__name {
  color: #9698c3;
}
.skills .ide-column .languages .language__name--active {
  color: white;
}
.skills .ide .code {
  width: 100%;
  min-width: 500px;
  height: 100%;
  background-image: linear-gradient(200deg, #5A5E9A, #36395c);
  padding-top: 32px;
  padding-right: 16px;
}
@media only screen and (max-width: 750px) {
  .skills .ide .code {
    padding-bottom: 32px;
  }
}
.skills .ide .code__red {
  color: #d46c60;
}
.skills .ide .code__orange {
  color: #d18c4c;
}
.skills .ide .code__green {
  color: #98c379;
}
.skills .ide .code__gray {
  color: #abb2bf;
}
.skills .ide .code__pink {
  color: #c65f91;
}
.skills .ide .code__blue {
  color: #43a3ef;
}
.skills .ide .code__row {
  display: block;
}
.skills .ide .code__row--tab1 .code__row-number {
  margin-right: 32px;
}
.skills .ide .code__row--tab2 .code__row-number {
  margin-right: 48px;
}
.skills .ide .code__row--tab3 .code__row-number {
  margin-right: 64px;
}
.skills .ide .code__row--br .code__row-number {
  color: transparent;
}
.skills .ide .code__row-number {
  margin: 0;
  display: inline-block;
  min-width: 2.25em;
  padding-right: 16px;
  text-align: right;
  user-select: none;
  color: #fff;
  border-right: solid 1px;
  border-color: rgba(255, 255, 255, 0.2);
  margin-right: 16px;
  width: 60px;
  height: 22px;
  line-height: 22px;
}

.tp {
  background: linear-gradient(to right, #23263B 50%, #F5F5FA 50%);
  font-family: Poppins, Arial, sans-serif;
  padding-left: 48px;
  padding-right: 48px;
  position: relative;
}
@media only screen and (max-width: 1100px) {
  .tp {
    background: linear-gradient(to bottom, #23263B 50%, #F5F5FA 50%);
  }
}
@media only screen and (max-width: 600px) {
  .tp {
    margin-top: -250px;
    padding-left: 24px;
    padding-right: 24px;
  }
}
.tp__container {
  text-align: center;
  max-width: 1440px;
  position: relative;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0 auto;
}
@media only screen and (max-width: 1100px) {
  .tp__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
}
.tp__container .road {
  position: absolute;
  top: -75px;
  left: 37%;
  width: 400px;
}
@media only screen and (max-width: 1100px) {
  .tp__container .road {
    display: none;
  }
}
.tp-section {
  position: relative;
  padding-bottom: 48px;
  padding-top: 80px;
}
.tp-section__img {
  position: absolute;
  top: 0;
  transform: translateY(200%);
}
@media only screen and (max-width: 1250px) {
  .tp-section__img {
    transform: translateY(200%) scale(0.8);
  }
}
@media only screen and (max-width: 1100px) {
  .tp-section__img {
    display: none;
  }
}
.tp-section--theory {
  color: white;
}
@media only screen and (max-width: 1100px) {
  .tp-section--theory {
    padding-bottom: 0;
  }
}
.tp-section--theory .tp-section__content {
  grid-column-start: 1;
  grid-column-end: 3;
}
.tp-section--theory .tp-section__img {
  right: 1px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.45), 0 7px 13px -3px rgba(45, 35, 66, 0.45);
  border-radius: 8px 0 0 8px;
  padding-right: 6px;
}
@media only screen and (max-width: 1250px) {
  .tp-section--theory .tp-section__img {
    right: -18px;
  }
}
.tp-section--practice {
  color: #36395a;
}
.tp-section--practice .tp-section__content {
  grid-column-start: 2;
  grid-column-end: 4;
}
.tp-section--practice .tp-section__img {
  left: 0;
  box-shadow: 0 2px 4px rgba(45, 35, 66, 0.45), 0 7px 13px -3px rgba(45, 35, 66, 0.45);
  border-radius: 0 8px 8px 0;
}
@media only screen and (max-width: 1250px) {
  .tp-section--practice .tp-section__img {
    left: -18px;
  }
}
.tp-section__title {
  text-align: center;
  margin-bottom: 32px;
  font-size: 3.6rem;
  font-weight: 700;
}
@media only screen and (max-width: 500px) {
  .tp-section__title {
    font-size: 3rem;
  }
}
.tp-section > div {
  text-align: left;
  height: 100%;
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}
@media only screen and (max-width: 1100px) {
  .tp-section > div {
    display: block;
    max-width: 500px;
    margin: 0 auto;
  }
}
.tp-section__content {
  display: inline-flex;
  flex-direction: column;
  align-self: center;
}
.tp-section__content .experience {
  margin-bottom: 48px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 4px;
}
.tp-section__content .experience__title {
  font-size: 2.8rem;
  font-weight: 700;
  line-height: 1.33;
}
@media only screen and (max-width: 1100px) {
  .tp-section__content .experience__title {
    font-size: 2.4rem;
  }
}
.tp-section__content .experience__subtitle {
  font-size: 1.8rem;
  font-weight: 700;
}
.tp-section__content .experience__duration {
  font-weight: 700;
  margin-bottom: 4px;
}
.tp-section__content .experience__desc {
  line-height: 1.33;
}

#contact {
  background-color: #F5F5FA;
}

.contact {
  height: 75vh;
  min-height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-right: 128px;
  position: relative;
  width: fit-content;
  margin: 64px auto 0;
}
@media only screen and (max-width: 1100px) {
  .contact {
    padding: 0 0;
    margin: 0 auto 0;
  }
}
@media only screen and (max-width: 860px) {
  .contact {
    flex-direction: column;
    width: auto;
    height: auto;
    overflow-x: hidden;
  }
}
.contact__img {
  position: relative;
  width: 400px;
  height: 432px;
  border-radius: 0 0 50% 50%;
  overflow: hidden;
  margin-bottom: 90px;
  transform: scale(-1, 1);
}
@media only screen and (max-width: 860px) {
  .contact__img {
    margin-bottom: 0;
  }
}
@media only screen and (max-width: 500px) {
  .contact__img {
    width: 286px;
    height: 309px;
  }
}
.contact__img img {
  position: absolute;
  bottom: 0;
  right: 0;
}
.contact-description {
  font-size: 2.8rem;
  letter-spacing: -1px;
}
@media only screen and (max-width: 1100px) {
  .contact-description {
    margin-top: 32px;
    margin-bottom: 64px;
  }
}
@media only screen and (max-width: 500px) {
  .contact-description {
    font-size: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.contact-description__title {
  text-align: center;
  line-height: 1.1;
  font-weight: bold;
  margin-bottom: 8px;
}
.contact-description__text {
  width: 416px;
  font-size: 1.8rem;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
}
@media only screen and (max-width: 500px) {
  .contact-description__text {
    font-size: 1.4rem;
  }
}
.contact-description__text--mail {
  margin-top: 32px;
  margin-bottom: 16px;
}
.contact-description__text--link {
  text-align: left;
  padding-left: 32px;
  display: block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
@media only screen and (max-width: 500px) {
  .contact-description__text--link {
    padding-left: 0;
    transform: none;
    text-align: center;
  }
}
.contact-description__text--link img {
  width: 80px;
}
@media only screen and (max-width: 500px) {
  .contact-description__text--link img {
    width: 45px;
  }
}
.contact-description__text--link:hover {
  color: #23263B;
  font-weight: bold;
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  transition-timing-function: cubic-bezier(0.47, 2.02, 0.31, -0.36);
  border-radius: 12px;
}
.contact-description .bold {
  font-size: 3rem;
}
.contact__phone {
  position: absolute;
  bottom: -78px;
  right: -150px;
  transform: scale(-1, 1);
  width: 380px;
}
@media only screen and (max-width: 1400px) {
  .contact__phone {
    width: 300px;
    right: 0px;
  }
}
@media only screen and (max-width: 1200px) {
  .contact__phone {
    width: 250px;
    right: 100px;
  }
}
@media only screen and (max-width: 1100px) {
  .contact__phone {
    width: 190px;
    right: 25%;
  }
}
@media only screen and (max-width: 860px) {
  .contact__phone {
    display: none;
  }
}

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "JetBrainsMono";
  src: url("../fonts/JetBrainsMono-Regular.ttf") format("truetype");
}
body {
  font-family: "Poppins", sans-serif;
  background-color: #F5F5FA;
}
body h1 {
  font-weight: 500;
}
body .break {
  display: block;
}
body .header {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
  font-size: 1.6rem;
  max-width: 1500px;
  margin: 0 auto;
}
@media only screen and (max-width: 600px) {
  body .header {
    padding: 32px 32px;
  }
}
body .header__title {
  font-weight: bold;
  font-size: 2rem;
}
body .header .mobile-menu {
  display: none;
}
@media only screen and (max-width: 1000px) {
  body .header .mobile-menu {
    display: flex;
    flex-direction: column;
    gap: 5px;
    z-index: 10;
    position: absolute;
    top: 35px;
    right: 64px;
  }
  body .header .mobile-menu:hover {
    cursor: pointer;
  }
}
@media only screen and (max-width: 600px) {
  body .header .mobile-menu {
    right: 32px;
  }
}
body .header .mobile-menu span {
  display: block;
  height: 2px;
  width: 22px;
  background-color: #23263B;
  transition: all 0.3s ease-in-out;
}
body .header #menu:checked ~ .nav {
  right: 0;
}
body .header #menu:checked ~ .mobile-menu {
  position: fixed;
}
body .header #menu:checked ~ .mobile-menu span:nth-child(1) {
  transform: translateY(4px) rotate(45deg);
}
body .header #menu:checked ~ .mobile-menu span:nth-child(2) {
  display: none;
}
body .header #menu:checked ~ .mobile-menu span:nth-child(3) {
  transform: translateY(-3px) rotate(-45deg);
}
body .header .nav {
  display: flex;
  gap: 64px;
}
@media only screen and (max-width: 1200px) {
  body .header .nav {
    font-size: 1.4rem;
    gap: 32px;
  }
}
@media only screen and (max-width: 1000px) {
  body .header .nav {
    font-size: 1.6rem;
    position: fixed;
    top: 0;
    right: -200vw;
    height: 100vh;
    width: 80vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10vh;
    background-color: #F5F5FA;
    box-shadow: -200px 0px 50px 50px rgba(0, 0, 0, 0.4);
    z-index: 8;
    transition: all 0.5s ease-in-out;
  }
}
body .header .nav__link:hover {
  font-weight: bold;
}
body .hero {
  height: 92vh;
  min-height: 700px;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  padding-left: 32px;
  padding-bottom: 6%;
}
@media only screen and (max-width: 800px) {
  body .hero {
    flex-direction: column;
    padding-left: 0;
  }
}
body .hero__img {
  position: relative;
  width: 400px;
  height: 400px;
  border-radius: 50%;
  overflow: hidden;
  margin-bottom: 90px;
}
@media only screen and (max-width: 1200px) {
  body .hero__img {
    width: 300px;
    height: 300px;
  }
}
@media only screen and (max-width: 800px) {
  body .hero__img {
    margin-bottom: 24px;
  }
}
body .hero__img img {
  position: absolute;
  top: 0;
  right: 0;
}
body .hero-description {
  font-size: 2.4rem;
  letter-spacing: -1px;
  z-index: 2;
}
@media only screen and (max-width: 500px) {
  body .hero-description {
    font-size: 1.8rem;
  }
}
body .hero-description__title {
  text-align: center;
  line-height: 1.1;
}
body .hero-description__text {
  margin-top: 32px;
  width: 416px;
  font-size: 1.6rem;
  text-align: center;
  line-height: 1.2;
  letter-spacing: 0;
}
@media only screen and (max-width: 500px) {
  body .hero-description__text {
    width: 340px;
    font-size: 1.4rem;
  }
}
body .hero-description .bold {
  font-size: 3rem;
}
@media only screen and (max-width: 500px) {
  body .hero-description .bold {
    font-size: 2.4rem;
  }
}
body .bold {
  font-weight: 700;
}

.pointer {
  cursor: pointer;
}

.arrows {
  position: relative;
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 60px;
  height: 60px;
  transform: translate(-50%, -50%);
}
.arrows:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 20px solid rgba(255, 255, 255, 0.7);
  border-bottom: 20px solid rgba(255, 255, 255, 0.7);
  transform: translate(20px, 80px) rotate(-45deg);
  animation: arrows 3s linear infinite;
}
.arrows:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 20px solid rgba(255, 255, 255, 0.7);
  border-bottom: 20px solid rgba(255, 255, 255, 0.7);
  transform: translate(40px, 0px) rotate(-45deg);
  animation: arrows 3s linear infinite -1.5s;
}

@keyframes arrows {
  0% {
    border-left: 20px solid rgba(255, 255, 255, 0);
    border-bottom: 20px solid rgba(255, 255, 255, 0);
    transform: translate(-10px, -40px) rotate(-45deg);
  }
  10%, 90% {
    border-left: 20px solid rgba(255, 255, 255, 0);
    border-bottom: 20px solid rgba(255, 255, 255, 0);
  }
  50% {
    border-left: 20px solid rgba(255, 255, 255, 0.7);
    border-bottom: 20px solid rgba(255, 255, 255, 0.7);
    transform: translate(-10px, 0px) rotate(-45deg);
  }
  100% {
    border-left: 20px solid rgba(255, 255, 255, 0);
    border-bottom: 20px solid rgba(255, 255, 255, 0);
    transform: translate(-10px, 40px) rotate(-45deg);
  }
}
.lamp {
  position: absolute;
  top: -1px;
  left: 24vw;
  width: 416px;
  z-index: -1;
}
@media only screen and (max-width: 800px) {
  .lamp {
    z-index: 0;
    width: 316px;
    margin-left: 24px;
    left: calc(50vw - 185px) !important;
  }
}
.lamp img {
  position: absolute;
  top: 0;
  left: 0;
}
.lamp img:first-child {
  animation: blinking 3.5s forwards;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 32px 64px;
  font-size: 1.4rem;
  position: relative;
  max-width: 1500px;
  margin: 0 auto;
}
@media only screen and (max-width: 650px) {
  .footer {
    flex-direction: column;
    gap: 18px;
    align-items: center;
  }
}
@media only screen and (max-width: 400px) {
  .footer {
    padding: 32px 24px;
    font-size: 1.2rem;
  }
}
.footer a {
  color: #23263B;
}
.footer a:hover {
  font-weight: bold;
}

@keyframes blinking {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  52% {
    opacity: 0;
  }
  56% {
    opacity: 1;
  }
  58% {
    opacity: 1;
  }
  62% {
    opacity: 0;
  }
  65% {
    opacity: 0;
  }
  67% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  72% {
    opacity: 0;
  }
  78% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}